body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Background color for the body */
  }
  
  .navbar {
    overflow: hidden;
    background-color: #008751; /* Green color for Nigerian flag */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    transition: top 0.5s;
  }
  
  .navbar a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-bottom: 0;
  }
  
  .navbar p {
    font-family: 'Times New Roman', Times, serif;
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #00543D; /* Darker green color on hover */
    color: white;
  }
  .navbar #home-button {
    margin-left: 20px;
  }
  
  .logo {
    background-size: cover; /* Cover the entire height and width of the .logo div */
    background-position: center; /* Center the background image */
    height: 50px; /* Adjust the height as needed */
    width: 50px; /* Adjust the width as needed */
    float: left; /* Float the logo to the left */
    margin-right: 10px; /* Add some margin for spacing */
    margin: 0;
    margin-right: 5px;
  }
  
  .navbar p {
    margin-bottom: 0;
  }
  /* Add your CSS for mobile responsiveness here */
  /* For example: */
  @media screen and (max-width: 760px) {
    .navbar a {
      float: none;
      display: block;
      text-align: left;
    }
    .navbar {
      position: static;
    }
    .navbar p {
        display: none;
    }
    .logo {
        display: none;
    }
  }
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 100%;
    position: relative;
    margin-top: 0px; /* Adjust the margin as needed */
  }
  
  /* Slides */
  .slide {
    display: none;
    width: 100%;
  }
  
  .slide img {
    width: 100%;
    height: auto;
  }
  
  /* Circular navigation buttons */
  .navigation {
    text-align: center;
    margin-top: 20px;
  }
  
  .dot {
    height: 15px;
    width: 15px;
    background-color: #ccc; /* Default button color */
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .active {
    background-color: #008751; /* Active button color */
  }


.quote {
  background-color: lightgray;
  color: black;
  font-size: 30px;
  font-family: 'Lucida Calligraphy', 'Source Sans Pro', 'Segoe UI';
  font-style: italic;
  font-weight: 800;
  padding: 10px 40px;
  text-align: center;
  margin: 10px 10px;
  border-radius: 50px;
}

#team h1 {
  margin: 10px;
  font-size: 40px;
  color: #008751;
  text-align: center;
  font-family: 'Castellan', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.section-header{
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.green-lines {
  flex-grow: 1;
  height: 2px; /* Adjust the height of the lines */
  background-color: #008751; /* Green color for the lines */
}

#team .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive grid with 4 cards per row on laptop screens */
  gap: 50px; /* Adjust the gap between cards as needed */
  margin: 20px 0; /* Adjust margin as needed */
  padding: 20px;
}

/* Style for each card */
.card {
  background-color: #fff;
  border: 1px solid transparent; /* Initial border style */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow for raised effect */
  transition: all 0.3s ease; /* Transition effect for hover */
  position: relative; /* Position for hover overlay */
  display: block;
  margin: auto;
  text-align: center;
}

.card:hover {
  border: 1px solid; /* Transparent border */
  border-image: linear-gradient(to left, green, white, green) 1;
  box-shadow: 0 4px 10px rgba(0, 135, 81, 0.4); /* Raised effect on hover */
}

#team .card img {
  width: 100%;
  height: auto;
}

.info {
  padding: 10px;
}

/* Style for the person's name */
.name {
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  color: #008751; /* Green color for the name */
  margin: 10px 0;
}

/* Style for the person's info */
.description {
  font-size: 16px;
  color: #333; /* Text color */
  margin: 0;
}

.section-subhead {
  margin: 10px;
  
  color: #008751;
  text-align: center;
  font-family: 'Castellan', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.section-subhead h2 {
  margin: 10px;
  font-size: 30px;
}

.green-lines {
  margin-bottom: 3px;
}

#journey h1 {
  margin: 10px;
  font-size: 40px;
  color: #008751;
  text-align: center;
  font-family: 'Castellan', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f7f8fc;
  font-family: "Roboto", sans-serif;
  color: #10182f;
}
.containercard {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#journey .card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}
#journey .card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tag-teal {
  background-color: #47bcd4;
}
.tag-purple {
  background-color: #5e76bf;
}
.tag-pink {
  background-color: #cd5b9f;
}
.tag-green {
  background-color: #2cc717;
}
#journey .card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}
.header {
  text-align: center;
}
.content p {
  font-size: 24px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#article {
  padding: 15px;
}

#article ul li {
  font-size: 24px;
}

#article .quote {
  border-radius: 0; background-color:#008751; color: white;
}

.journal {
  background-image: url('images/journal.jpg');
  font-family: 'Lucida Calligraphy', 'Source Sans Pro', 'Segoe UI';
  font-weight: 800;
  padding: 10px 40px;
  text-align: center;
  margin: auto;
  font-size: 24px;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  display: block;
  margin: auto;
}

.content p {
  text-align: center;
}
.media-section {
    display: block;
    margin: auto;
}
